{
    "extends": [
        "@biased-ts/eslint-config/ProperTS",
        "@biased-ts/eslint-config/ProperDoc"
    ],
    "root": true,
    "parserOptions": {
        "project": [
            "./tsconfig.json",
            "./scripts/tsconfig.json"
        ]
    },
    "rules": {
        "@typescript-eslint/consistent-type-imports": [
            "error"
        ]
    }
}