node_modules
.vscode
hidden

# plugins i dont want public :3
plugins/AStupidStereo
plugins/AVCStalker
plugins/NewVCStalker
plugins/ABotDefeater

dist/AStupidStereo
dist/AVCStalker
dist/NewVCStalker
dist/ABotDefeater